@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root{
    --ain-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: var(--ain-BG);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.attribution { 
    font-size: 11px; text-align: center;
 }
.attribution a {
     color: hsl(228, 45%, 44%); 
    }
.nft-component{
    max-width: 340px;
    border-radius: 20px;
    background-color: var(--card-BG);
    margin:70px 0;
    padding: 15px;
    box-shadow: 0px 20px 0px 14px hsl(215, 64%, 9%);
}
.card-img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.img-container{
    position: relative;
    margin-bottom: 15px;
}

.card-eye{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 98.5%;
    background-color: var(--Cyan);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0;
}
.card-eye:hover ,.card-eye:focus{
    opacity: 0.7;
    transition: ease-out transform 0.8s;
}
h1{
    font-weight: 600;
    color:var(--White);
    font-size: 22px;
    text-align: start;
    margin-bottom: 15px;
}
h1:hover{
    color: var(--Cyan);
    cursor: pointer;
}
p{
    color: var(--Soft-blue);
    font-weight: 300;
    text-align: start;
    margin-bottom: 15px;
}
.card-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px var(--Soft-blue) dotted;
}
.card-data .icon-ethereum{
display: flex;   

}
.card-data .icon-clock {
display: flex;
}
h2{
    font-weight: 400;
    font-size: 14px;
    color: var(--Cyan);
    margin-left: 7px;

}
h3{
    font-weight: 300;
    color: var(--Soft-blue);
    font-size: 14px;
    margin-left: 7px;

}


.profile{
    display: flex;
    justify-content: start;
    align-items: center;
}
.profile img{
    width: 40px;
    height: 40px;
    border: 1px var(--White ) solid;
    border-radius: 50%;
    margin-right: 15px;
}
.profile p{
    text-align: center;
    padding-top: 10px;
}
.profile p a{
    text-decoration: none;
    color: var(--White);
}
.profile p a:hover{
    color: var(--Cyan);
}
footer {
    color: var(--White);
}